*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.principal{
    background-image: url("../img/atras.jpg");
    background-size: cover;
    text-align: center;
    padding-top: 5%;
    height: 90vh;
}
h1{
    font-size: 30px;
    color: white;
    margin: 10px;
}
.caja{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
}
.imgEstichers{
    width: 50vh;
}
input{
    width: 50%;
    padding: 5px;
    border: 2px solid;
    border-color: black;
    border-radius: 10vh;
}
.calcular{
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 100vh;
    background-color: rgb(60, 54, 141);
    color: white;
}
.calcular:hover{
    font-size: 30px;
    background-color: rgba(60, 54, 141, 0);
    border: 1px solid rgb(60, 54, 141);
}
.navegacion{
    display: flex;
    padding: 10px;
    padding-left: 44%;
    align-items: center;
    text-align: center;
}
p{
    color: white;
    font-size: 30px;
    margin: 10px;
}
a{
    color: white;
    font-size: 30px;
    margin: 20px;
}